.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    height: 100vh;
    background-image: url(./bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0;
}


.container {
    display: grid;
    width: 700px;
    height: 700px;
    gap: 5px;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
}

.box {
    background-color: rgba(19, 19, 19, 0.682);
    box-shadow: 1px 1px 3rem rgb(160, 0, 0);
    animation: shadow 20s infinite;
}



@keyframes shadow {
    10% {
        box-shadow: 1px 1px 1.5rem rgb(160, 56, 0);
    }

    20% {
        box-shadow: 1px 1px 3rem rgb(160, 115, 0);
    }

    30% {
        box-shadow: 1px 1px 1.5rem rgb(93, 160, 0);
    }

    40% {
        box-shadow: 1px 1px 3rem rgb(0, 160, 147);
    }

    50% {
        box-shadow: 1px 1px 1.5rem rgb(0, 37, 160);
    }

    60% {
        box-shadow: 1px 1px 3rem rgb(144, 0, 160);
    }

    70% {
        box-shadow: 1px 1px 1.5rem rgb(155, 0, 160);
    }

    80% {
        box-shadow: 1px 1px 3rem rgb(160, 0, 115);
    }

    90% {
        box-shadow: 1px 1px 1.5rem rgb(160, 0, 112);
    }

    100% {
        box-shadow: 1px 1px 3rem rgb(160, 0, 0);
    }

}

.shape {
    width: 100%;
    height: 100%;
}

.O {
    width: 70%;
    height: 70%;
    border: 5px solid rgba(255, 255, 255, 0.627);
    border-radius: 50%;
    box-shadow: 1px 1px 1rem rgb(255, 255, 255);
}


.X::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: rgba(222, 205, 118, 0.83);
    box-shadow: 1px 1px 1rem rgb(255, 235, 136);
    rotate: 45deg;
    transform: translateY(3px);
}

.X::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: rgba(222, 205, 118, 0.83);
    box-shadow: 1px 1px 1rem rgb(255, 235, 136);
    rotate: -45deg;
    transform: translateY(3px);
}


.freeze {
    pointer-events: none;
}




.lines,
.horizontal,
.vertical,
.diagonal {
    height: 710px;
    width: 710px;
    position: absolute;
    justify-content: space-around;
}


.lines {
    translate: 5px 5px;
    display: none;

}

.horizontal .line {
    width: 0;
    height: 5px;
    background-color: rgb(255, 66, 66);
    box-shadow: 1px 1px 1rem red;
    animation: horizontalLine 500ms forwards;
}

.horizontal {
    flex-direction: column;
}

.vertical .line,
.diagonal .line {
    width: 5px;
    height: 0;
    background-color: rgb(255, 66, 66);
    box-shadow: 1px 1px 1rem red;
    animation: verticalLine 500ms forwards;
}

.diagonal .line {
    animation: diagonalLine 500ms forwards;
}

.seven {
    transform: rotate(45deg);
    translate: 176px;

}

.eight {
    transform: rotate(-45deg);
    translate: -176px;
}


.hide {
    opacity: 0;
}

.show {
    display: flex;
}


@keyframes horizontalLine {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }

}

@keyframes verticalLine {
    from {
        height: 0;
    }

    to {
        height: 90%;
    }

}

@keyframes diagonalLine {
    from {
        height: 0;
    }

    to {
        height: 120%;
    }
}





.light {
    background-image: url(./lightbg.gif);
}

.light .box {
    background-color: rgba(240, 248, 255, 0.731);
}

.light .O {
    border-color: rgb(77, 77, 77);
    box-shadow: 1px 1px 1rem rgb(0, 0, 0)
}

.light .X::after {
    background-color: rgba(231, 98, 98, 0.83);
    box-shadow: 1px 1px 1rem rgb(255, 2, 2);
}

.light .X::before {
    background-color: rgba(231, 98, 98, 0.83);
    box-shadow: 1px 1px 1rem rgb(255, 2, 2);
}



.toggle {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-image: url(./meSbNaU.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 3rem white;
}

.mode {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
    animation: todarkmode 500ms forwards;
}


.light .toggle {
    background-image: url(./morning-cloudy-sky.jpg);
    box-shadow: 1px 1px 3rem rgb(63, 63, 63);
}

.light .mode {
    background-color: rgb(255, 191, 0);
    animation: tolightmode 500ms forwards;
}
.light .turn{
    background-color: rgba(215, 215, 215, 0.434);
    color: rgb(0, 0, 0);
}

.light .resault{
    color: black;
    text-shadow: 1px 1px 1rem black;
}
.light .winnerLight{
    display: none;
}
.light .winnerDark{
    display: block;
}
.light #restart{
    color: black;
    text-shadow: 1px 1px 1rem black;
}
.light .singleplayer , .light .multiplayer{
    background-color: rgba(94, 94, 94, 0.331);
    color: white;
}
.light .multiplayer{
    background-color: rgba(51, 3, 66, 0.331);
    box-shadow: 1px 1px 1rem rgb(212, 0, 255);
}

@keyframes tolightmode {
    from {
        translate: 4px;
    }

    to {
        translate: 63px;
    }
}

@keyframes todarkmode {
    from {
        translate: 60px;
    }

    to {
        translate: 4px;
    }
}


.turn{
    width: 150px;
    height: 60px;
    background-color: rgba(42, 42, 42, 0.434);
    justify-content: space-evenly;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    border-radius: 50px;
}

.Oturn .fa-o , .Xturn .fa-x{
    font-size: 40px;
    text-shadow: 1px 1px 1rem red;
}
.Oturn .fa-x ,.Xturn .fa-o{
    color: gray;
}





.resault{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1rem white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.resault img{
    width: 110%;
}
.winnerDark{
    display: none;
}



.dnone{
    display: none;
}



#restart{
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 1rem white;
    position: absolute;
    right: 50px ;
    top: 30vh;
    cursor: pointer;
    transition: 300ms;
}
#restart:hover{
    font-size: 35px;
    transition: 300ms;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
.player{
    position: absolute;
    left: 0;
}
.singleplayer , .multiplayer{
    width: 110px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 50px;
    padding: 5px 20px;
    margin: 15px 0;
    background-color: rgba(132, 132, 132, 0.661);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.multiplayer{
    background-color: rgba(243, 211, 211, 0.661);
    box-shadow: 1px 1px 1rem rgb(197, 3, 3);
}
.singleplayer{
    width: 95px;
    font-size: 13px;
}